/
/ This code shows all 'my timelines'
/

-set_page_title(@local_page_title)
-set_page_metadescription(@local_page_desc)

%div.span12.row
  %div.span7.pull-left
    %h2 My Content
  %div.span2.pull-right
    %a.btn.btn-primary{:href => new_timeline_path}
      %i.icon-pencil.icon-white
      = p "New Timeline"

%ul.nav.nav-tabs.no-bottom-margin
  %li.active
    %a{:href => my_path} Timelines
  %li
    %a{:href => myevents_path} Events
    
  
%div
  - if @timelines.empty?
    %p You have not created any timelines
  - else
    = paginate(@timelines, :param_name => "tl_paginate_param")
    - row_count = 0
    - @timelines.each_slice(4).to_a.each do |row|
      - row_count = row_count + 1
      = render :partial => "timelines/tl_small_block", :locals => {:selected_timelines => row, :div_id_prefix => "#{row_count}"}
    = page_entries_info(@timelines).html_safe
