/ This is to disp[lay modal popup on demand. Used when clicked on 'edit' link in listview
%div{:class => "modal hide", :id => "modal-editEvent"}
  %div{:class => "modal-header"}
    %button{:type => "button", :class => "close", "data-dismiss" => "modal"}×
    %h3 Edit Event
  %div{:class => "modal-body"}


/ List view table
%table{:class => "table table-bordered table-striped tl_listview_table"}
  %thead
    %tr
      %th.list_view_title_column Title
      %th.list_view_date_column Date
      %th.list_view_source_column Source
      %th.list_view_desc_column Description
      %th.list_view_url_column URL
      -if signed_in?
        %th.list_view_buttons_column
  %tbody
    - @fetchedevents.each do |eachevent|
      %tr
        %td.list_view_title_column
          = eachevent.title
        %td.list_view_date_column
          = Date.jd(eachevent.jd).strftime("%B %d, %Y")
        %td.list_view_source_column
          = eachevent.source
        %td.list_view_desc_column
          = eachevent.desc
        %td.list_view_url_column
          -if !eachevent.url.nil?
            %a{:href => "#{eachevent.url}", :target => "new"} 
              = eachevent.url
        -if signed_in?
          %td.list_view_buttons_column
            /%div{:class => "event"}
            /  %div{:class => "details"}
            /    %i.icon-edit
            /    = link_to "Edit", edit_event_path(eachevent), :remote => true, "data-type" => :html
            %i.icon-edit
            = link_to "Edit", "#{edit_event_path(eachevent)}?editfromlistview=true" 
            -if !current_user.nil?
              -if (current_user.isadmin) || (current_user.id == eachevent.ownerid)
                %div
                  %i.icon-remove
                  = link_to "Delete", "/events/#{eachevent.id}?fromlistview=true", :method=> :delete, :confirm => 'Are you sure you want to delete this event?'
                  
            
