/ This is to disp[lay modal popup on demand. Used when clicked on 'edit' link in listview
%div{:class => "modal hide", :id => "modal-editEvent"}
  %div{:class => "modal-header"}
    %button{:type => "button", :class => "close", "data-dismiss" => "modal"}×
    %h3 Edit Event
  %div{:class => "modal-body"}


/ List view table
%table{:class => "table table-bordered table-striped"}
  %thead
    %tr
      %th Title
      %th Date
      %th Source
      %th Description
      %th URL
      -if signed_in?
        %th
  %tbody
    - @fetchedevents.each do |eachevent|
      %tr
        %td 
          = eachevent.title
        %td
          = Date.jd(eachevent.jd).strftime("%B %d, %Y")
        %td 
          = eachevent.source
        %td 
          = eachevent.desc
        %td 
          = eachevent.url
        -if signed_in?
          %td
            %div{:class => "event"}
              %div{:class => "details"}
                %i.icon-edit
                = link_to "Edit", edit_event_path(eachevent), :remote => true, "data-type" => :html
            
