%h2 Edit Event

= form_for(@event) do |f|

  = label :event, :title, 'Title'
  = text_field :event, :title

  = label :event, :date, 'Date'
  = text_field :event, :date_str

  %fieldset
    %legend Tags
    %div.items
      = f.nested_fields_for :tags do |tagf|
        %fieldset.item{:style => "float:left"}
          %span.label.label-info
            = tagf.object.name
            %a.remove{:href => "#"}
              %i.icon-remove.icon-white
          = tagf.hidden_field :id
          = tagf.hidden_field :_destroy
          &nbsp;
    %div
      %a.add.btn.btn-small.btn-success{:href => "#"}
        %i.icon-plus

  %br
  = button_tag(:type => "submit", :class => "btn btn-primary") do
    %i.icon-ok.icon-white
    = p " Save"

