%h2 All Events

%table#events
  %thead
    %tr
      %th Title
      %th Date
      %th Edit
  %tbody
    - @events.each do |event|
      %tr
        %td= event.title
        %td= Date.jd(event.jd).strftime("%B %d, %Y")
        %th= link_to 'Edit...', edit_event_path(event)

%strong
  = @events.size
  events
%br
= link_to 'Add a new event...', new_event_path
