%h2 Create new event

= form_for(@event, :url => events_path, :method => :post, :html => {:class => "well"}) do |f|
  = f.error_messages

  = label :event, :title, 'Title'
  = text_field :event, :title, :class => "span4", :placeholder => "Be short (eg: Shivaji born)"

  = label :event, :date, 'Date'
  = text_field :event, :date_str, :class => "span2", :placeholder => "eg: 19 Feb 1630"
  %span.help-block Be natural. 19 Feb 1630, February 1630, etc

  = label :event, :url, 'URL'
  = text_field :event, :url, :class => "span4", :default => "http://", :placeholder => "http://en.wikipedia.org/wiki/Shivaji"
  %span.help-block (Optional) A webpage which gives more information about this event
  
  = label :event, :desc, 'Description'
  = text_area :event, :desc, :class => "span4", :size => "80x4", :placeholder => "Describe the event here."
  %span.help-block (Optional) Brief description about the event in your own words

  %div.well
    %fieldset
      %label Tags
      %div.items
        = f.nested_fields_for :tags, :show_empty => true do |tagf|
          - if tagf
            %fieldset.item{:style => "float:left"}
              %span.label
                %span.tagtext
                  = tagf.object.name
                %a.remove{:href => "#"}
                  %i.icon-remove.icon-white
              = tagf.hidden_field(:name, :class => "tagname")
              = tagf.hidden_field :id
              = tagf.hidden_field :_destroy
              &nbsp;
          - else
            %div.empty.help-block No tags for this event (yet)
                         
    %br
    %div.input-append
      %input#newtag.span2{:type => "text"}
      %span.add.add-on.btn
        %i.icon-plus
        = p " Add tag"
      &nbsp;    
      %span.help-block Normalized version of the tag will be saved. eg: "Shivaji" will be saved if you add "chattrapati shivaji"

  %br
  = button_tag(:type => "submit", :class => "btn btn-primary") do
    %i.icon-ok.icon-white
    = p " Save"
  %a.btn{:href => events_path}
    = p "Cancel"
