%h2
  Details for
  %strong #{@event.title}

%div.well
  %label Title
  %strong
    = @event.title

  %label Date
  %strong
    = Date.jd(@event.jd).strftime("%B %d, %Y")

  %label URL
  %strong
    = @event.url

  %label Description
  %div.well
    = @event.desc

  %div.well
    %label Tags
    %div
      - @taglist.each do |tag|
        %span
          %span.label
            = tag
          &nbsp;
      %br


%div    
  %a.btn.btn-primary.pull-left{:href => edit_event_path(@event)}
    %i.icon-white.icon-edit
    = p " Edit"
  = button_to "Delete", event_path(@event), :method=> :delete, :confirm => 'Are you sure you want to delete this event?', :class => "btn btn-danger pull-left"
  /= link_to 'Back to event list', events_path, :class => "pull-right"
  = link_to 'Back to timeline view', root_path, :class => "pull-right"

