/ This is to disp[lay modal popup on demand. 
%div{:class => "modal hide", :id => "modal-popup"}
  %div{:class => "modal-header"}
    %button{:type => "button", :class => "close", "data-dismiss" => "modal"}×
    %strong Copy following html embed code and use on intended webpage
  %div{:class => "modal-body"}
    /Here we are going to generate the embed code by doing lot of haml tricks
    /We need something like "<iframe src="http://localhost:3000/events/q/v2?embview=true&q=#{@query}&tlid=#{@tlid}" frameborder="yes" scrolling="no" width="78%" height="480">Test</iframe>" 
    /with variables evaluated in side.
    /= succeed ('" frameborder="yes" scrolling="no" width="78%" height="480">Test</iframe>') do
    /  = succeed(@tlid) do
    /    = succeed('&tlid=') do
    /      = succeed(@query) do
    /        = escape_once('<iframe src="http://localhost:3000/events/q/v2?embview=true&q=')
    /= escape_once(haml_indent())
    = generate_complete_embedview_url(@query,@tlid, @fromdate, @todate)
/ ====================================================================================================
/
/ This is popup for 'share-url' function
%div{:class => "modal hide", :id => "modal-shareurl"}
  %div{:class => "modal-header"}
    %button{:type => "button", :class => "close", "data-dismiss" => "modal"}×
    %strong Copy following url of this timeline and share with intended audience.
  %div{:class => "modal-body"}
    = generate_complete_default_url_for_timeline_view(@query,@tlid, @fromdate, @todate)  
    
    

%div.container
  %br
  %br
  -if @embeddedview == 'false'
    %div.row
      %div.span12
        %br
        %br
        = form_tag tlsearch_path, :method => :post, :class => "well form-horizontal form-search" do
          - if flash[:notice]
            %div.alert.alert-success
              %i.icon-ok-sign
              = flash[:notice]
          - elsif flash[:warning]
            %div.alert.alert-error
              %i.icon-exclamation-sign
              = flash[:warning]
  
          = text_field_tag :from, nil, {:class => "input-small", :placeholder => "From: (eg: 1500)"}
          = text_field_tag :to, nil, {:class => "input-small", :placeholder => "To: (eg: 1900)"}
          = text_field_tag :q, nil, {:class => "input-medium", :placeholder => "eg: mughal empire"}
          = button_tag(:type => "submit", :class => "btn btn-primary") do
            %i.icon-search.icon-white
            = p " Search"
          &nbsp;
          %span.pull-right
            %i.icon-check
            Check out:
            -url_to_use_here = generate_timeline_view_url("@amolyp_bigb", @tlid, nil, nil, false, "??")
            %a{:href => "#{url_to_use_here}"}
              %span.label.label-info Amitabh Bachchan
            &nbsp;
            -url_to_use_here = generate_timeline_view_url("Pink+Floyd+@chetanv_pink_floyd", @tlid, nil, nil, false, "??")
            %a{:href => "#{url_to_use_here}"}
              %span.label.label-info Pink Floyd
            &nbsp;
            -url_to_use_here = generate_timeline_view_url("Shivaji+Aurangzeb+@chetanv_shivaji_aurangzeb",@tlid, nil, nil, false, "??")
            %a{:href => "#{url_to_use_here}"}
              %span.label.label-info Shivaji, Aurangzeb
            %span#status-line
              %a{:href => "/examples/"}
                More
  
  = render 'timelines/timeline_core'  
  