/ This is to disp[lay modal popup on demand. 
%div{:class => "modal hide", :id => "modal-popup"}
  %div{:class => "modal-header"}
    %button{:type => "button", :class => "close", "data-dismiss" => "modal"}×
    %strong Copy following html embed code and use on intended webpage
  %div{:class => "modal-body"}
    /Here we are going to generate the embed code by doing lot of haml tricks
    /We need something like "<iframe src="http://localhost:3000/events/q/v2?embview=true&q=#{@query}&tlid=#{@tlid}" frameborder="yes" scrolling="no" width="78%" height="480">Test</iframe>" 
    /with variables evaluated in side.
    /= succeed ('" frameborder="yes" scrolling="no" width="78%" height="480">Test</iframe>') do
    /  = succeed(@tlid) do
    /    = succeed('&tlid=') do
    /      = succeed(@query) do
    /        = escape_once('<iframe src="http://localhost:3000/events/q/v2?embview=true&q=')
    /= escape_once(haml_indent())
    = generate_complete_embedview_url(@query,@tlid, @fromdate, @todate)
/ ====================================================================================================
/
/ This is popup for 'share-url' function
%div{:class => "modal hide", :id => "modal-shareurl"}
  %div{:class => "modal-header"}
    %button{:type => "button", :class => "close", "data-dismiss" => "modal"}×
    %strong Copy following url of this timeline and share with intended audience.
  %div{:class => "modal-body"}
    = generate_complete_default_url_for_timeline_view(@query,@tlid, @fromdate, @todate)  
    
    

%div.container
  -if @embeddedview == 'false'
    %div.row
      %div.span12
        %br
        %br
        = form_tag tlsearch_path, :method => :post, :class => "well form-horizontal form-search" do
          - if flash[:notice]
            %div.alert.alert-success
              %i.icon-ok-sign
              = flash[:notice]
          - elsif flash[:warning]
            %div.alert.alert-error
              %i.icon-exclamation-sign
              = flash[:warning]
  
          = text_field_tag :from, nil, {:class => "input-small", :placeholder => "From: (eg: 1500)"}
          = text_field_tag :to, nil, {:class => "input-small", :placeholder => "To: (eg: 1900)"}
          = text_field_tag :q, nil, {:class => "input-medium", :placeholder => "eg: mughal empire"}
          = button_tag(:type => "submit", :class => "btn btn-primary") do
            %i.icon-search.icon-white
            = p " Search"
          &nbsp;
          %span.pull-right
            %i.icon-check
            Check out:
            -url_to_use_here = generate_timeline_view_url("@amolyp_bigb", @tlid, nil, nil, false, "??")
            %a{:href => "#{url_to_use_here}"}
              %span.label.label-info Amitabh Bachchan
            &nbsp;
            -url_to_use_here = generate_timeline_view_url("Pink+Floyd+@chetanv_pink_floyd", @tlid, nil, nil, false, "??")
            %a{:href => "#{url_to_use_here}"}
              %span.label.label-info Pink Floyd
            &nbsp;
            -url_to_use_here = generate_timeline_view_url("Shivaji+Aurangzeb+@chetanv_shivaji_aurangzeb",@tlid, nil, nil, false, "??")
            %a{:href => "#{url_to_use_here}"}
              %span.label.label-info Shivaji, Aurangzeb
            %span#status-line
              %a{:href => "/examples/"}
                More
    
  %div.row
    %div.span12.border
      %div#status-line.pull-right
        /- if (@fromdate.nil? or @fromdate.empty?) and (@todate.nil? or @todate.empty?)
        /  &nbsp;&nbsp;&nbsp;&nbsp;#{@events_size} events for tags: #{} &nbsp; 
        /- else
        /  &nbsp;&nbsp;&nbsp;&nbsp;#{@events_size} events between [#{@fromdate} - #{@todate}] for tags: #{@tags} &nbsp;
        -pg_less_more = "test"
        -displaywords = "test"
        -embviewstatus = ""
        -if @embeddedview == 'true'
          -embviewstatus = "&embview=true"
        -if @events_on_a_page == "more"
          -displaywords = "Show less."
          -pg_less_more = "default"
        -else
          -displaywords = "Show more."
          -pg_less_more = "more"
        &nbsp;&nbsp;&nbsp;&nbsp;Displayed #{@events_size} events.
        -if @total_search_size > 0
          -if @viewstyle == "tl"
            -url_to_use = generate_timeline_view_url(@query,@tlid, @fromdate, @todate, false,  pg_less_more)
            %a{:href => "#{url_to_use}#{embviewstatus}"} #{displaywords}&nbsp;
          -else
            -url_to_use = generate_list_view_url(@query,@tlid, @fromdate, @todate, false, pg_less_more )
            %a{:href => "#{url_to_use}#{embviewstatus}"} #{displaywords}&nbsp;
         
      -if @events_size > 0
        -if @embeddedview == 'false'
          %div.pull-right
            %a.btn.btn-primary{:href => "#modal-shareurl", "data-toggle" => "modal", :title => "Share url", :rel => "tooltip"}
              %i.icon-share-alt.icon-white
            %a.btn.btn-primary{:href => "#modal-popup", "data-toggle" => "modal", :title => "Get html embed code", :rel => "tooltip"}
              %i.icon-share.icon-white
            -if @viewstyle == "tl"
              -url_to_use = generate_timeline_view_url(@query,@tlid, @fromdate, @todate, true, @pgevts )
              %a.btn.btn-primary{:href => "#{url_to_use}", :title => "Full screen view", :rel => "tooltip"}
                %i.icon-resize-full.icon-white
            -else 
              -url_to_use = generate_list_view_url(@query,@tlid, @fromdate, @todate, true, @pgevts )
              %a.btn.btn-primary{:href => "#{url_to_use}", :title => "Full screen view", :rel => "tooltip"}
                %i.icon-resize-full.icon-white
          
          %ul.nav.nav-tabs.no-bottom-margin
            /
            / We need following types of urls:
            / for tl-view: "/events/q/v2?view=tl&tags=#{@tags}&tlid=#{@tlid}"
            / for list-view: "/events/q/v2?view=list&tags=#{@tags}&tlid=#{@tlid}"
            /
            -if @viewstyle == "tl"
              %li.active
                -url_to_use = generate_timeline_view_url(@query,@tlid, @fromdate, @todate, false, @pgevts )
                %a{:href => "#{url_to_use}"} 
                  %i.icon-time
                  Timeline View
              %li
                -url_to_use = generate_list_view_url(@query,@tlid, @fromdate, @todate, false, @pgevts )
                %a{:href => "#{url_to_use}"}  
                  %i.icon-list-alt
                  List View
            -else
              %li
                -url_to_use = generate_timeline_view_url(@query,@tlid, @fromdate, @todate, false, @pgevts )
                %a{:href => "#{url_to_use}"} 
                  %i.icon-time
                  Timeline View
              %li.active
                -url_to_use = generate_list_view_url(@query,@tlid, @fromdate, @todate, false, @pgevts )
                %a{:href => "#{url_to_use}"}
                  %i.icon-list-alt 
                  List View
        -if @viewstyle == "list"
          = render 'elistview'

      -if @events_size > 0
        -if @viewstyle == "tl"
          %div#timeline-embed
  
 
%script{:type => "text/javascript"}
  :plain
    var timeline_config = {
    width:  "100%",
    height: "480",
    source: "#{@json_resource_path}",
    css: '/assets/timeline.css',
    js: '/js/timeline.js'
    }

%script{:type => "text/javascript",
	:src => "/js/timeline-embed.js"}
