%div.container
  %div.row
    %div.span7
      %br
      %br
      %br
      = form_tag events_q_v2_path, :method => :post, :class => "well form-horizontal form-search" do
        - if flash[:notice]
          %div.alert.alert-success
            %i.icon-ok-sign
            = flash[:notice]
        - elsif flash[:warning]
          %div.alert.alert-error
            %i.icon-exclamation-sign
            = flash[:warning]

        = text_field_tag :from, nil, {:class => "input-small", :placeholder => "From: (eg: 1947)"}
        = text_field_tag :to, nil, {:class => "input-small", :placeholder => "To: (eg: 1977)"}
        = text_field_tag :tags, nil, {:class => "input-medium", :placeholder => "eg: india,prime minister"}
        = button_tag(:type => "submit", :class => "btn btn-primary") do
          %i.icon-search.icon-white
          = p " Search"

    %div.span4
      %br
      %br
      %br
      %div.well
        Check out:
        %a{:href => "/events/q/v2?tags=demo,R+D+Burman"}
          %span.label.label-info R D Burman
        &nbsp;
        %a{:href => "/events/q/v2?tags=demo,Shivaji,Aurangzeb"}
          %span.label.label-info Shivaji,Aurangzeb

  %div#status-line
    &nbsp; #{@events_size} events for tags: #{@tags}
    
  -if @events_size > 0
    %div.row
      %div.span3
        %div.well
          %a{:href => "#"}
            %span.label.label-info Timeline View
          &nbsp;
          %a{:href => "#"}
            %span.label.label-info List View

-if @events_size > 0
  %div#timeline-embed

  
  
%script{:type => "text/javascript"}
  :plain
    var timeline_config = {
    width:  "100%",
    height: "70%",
    source: "#{@json_resource_path}",
    css: '/assets/timeline.css',
    js: '/js/timeline-min-2.js'
    }

%script{:type => "text/javascript",
	:src => "/js/timeline-embed.js"}
