/ This is to disp[lay modal popup on demand. 
%div{:class => "modal hide", :id => "modal-popup"}
  %div{:class => "modal-header"}
    %button{:type => "button", :class => "close", "data-dismiss" => "modal"}×
    %strong Copy following html embed code and use on intended webpage
  %div{:class => "modal-body"}
    /Here we are going to generate the embed code by doing lot of haml tricks
    /We need something like "<iframe src="http://localhost:3000/events/q/v2?embview=true&tags=#{@tags}&tlid=#{@tlid}" frameborder="yes" scrolling="no" width="78%" height="480">Test</iframe>" 
    /with variables evaluated in side.
    = succeed ('" frameborder="yes" scrolling="no" width="78%" height="480">Test</iframe>') do
      = succeed(@tlid) do
        = succeed('&tlid=') do
          = succeed(@tags) do
            = escape_once('<iframe src="http://localhost:3000/events/q/v2?embview=true&tags=')
    = escape_once(haml_indent())
    

%div.container
  -if @embeddedview == 'false'
    %div.row
      %div.span12
        %br
        %br
        = form_tag events_q_v2_path, :method => :post, :class => "well form-horizontal form-search" do
          - if flash[:notice]
            %div.alert.alert-success
              %i.icon-ok-sign
              = flash[:notice]
          - elsif flash[:warning]
            %div.alert.alert-error
              %i.icon-exclamation-sign
              = flash[:warning]
  
          = text_field_tag :from, nil, {:class => "input-small", :placeholder => "From: (eg: 1947)"}
          = text_field_tag :to, nil, {:class => "input-small", :placeholder => "To: (eg: 1977)"}
          = text_field_tag :tags, nil, {:class => "input-medium", :placeholder => "eg: india,prime minister"}
          = button_tag(:type => "submit", :class => "btn btn-primary") do
            %i.icon-search.icon-white
            = p " Search"
          &nbsp;
          %span.pull-right
            %i.icon-check
            Examples:
            %a{:href => "/events/q/v2?tags=demo,R+D+Burman"}
              %span.label.label-info R D Burman
            &nbsp;
            %a{:href => "/events/q/v2?tags=demo,Shivaji,Aurangzeb"}
              %span.label.label-info Shivaji,Aurangzeb
            &nbsp;
            %a{:href => "/events/q/v2?tags=demo,India,Medicine"}
              %span.label.label-info India,Medicine
          
  
  / %div.row
  /   = image_tag("http://upload.wikimedia.org/wikipedia/commons/7/75/Kingshivajibhosle.JPG",:size => "40x40")
    
  %div.row
    %div.span12.border
      %div#status-line.pull-right
        /- if (@fromdate.nil? or @fromdate.empty?) and (@todate.nil? or @todate.empty?)
        /  &nbsp;&nbsp;&nbsp;&nbsp;#{@events_size} events for tags: #{@tags} &nbsp; 
        /- else
        /  &nbsp;&nbsp;&nbsp;&nbsp;#{@events_size} events between [#{@fromdate} - #{@todate}] for tags: #{@tags} &nbsp;
        -pg_less_more = "test"
        -displaywords = "test"
        -embviewstatus = ""
        -if @embeddedview == 'true'
          -embviewstatus = "&embview=true"
        -if @events_on_a_page == "more"
          -displaywords = "Show less."
          -pg_less_more = "default"
        -else
          -displaywords = "Show more."
          -pg_less_more = "more"
        &nbsp;&nbsp;&nbsp;&nbsp;Displayed #{@events_size} events.
        -if @total_search_size > 0
          -if @viewstyle == "tl"
            -url_to_use = generate_timeline_view_url(@tags,@tlid, @fromdate, @todate, false,  pg_less_more)
            %a{:href => "#{url_to_use}#{embviewstatus}"} #{displaywords}&nbsp;
          -else
            -url_to_use = generate_list_view_url(@tags,@tlid, @fromdate, @todate, false, pg_less_more )
            %a{:href => "#{url_to_use}#{embviewstatus}"} #{displaywords}&nbsp;
         
      -if @events_size > 0
        -if @embeddedview == 'false'
          %div.pull-right
            %a.btn.btn-primary{:href => "#modal-popup", "data-toggle" => "modal", :title => "Get html embed code", :rel => "tooltip"}
              %i.icon-share.icon-white
            -if @viewstyle == "tl"
              -url_to_use = generate_timeline_view_url(@tags,@tlid, @fromdate, @todate, true, @pgevts )
              /%a.btn.btn-primary{:href => "/events/q/v2?fullscr=true&view=tl&tags=#{@tags}&tlid=#{@tlid}", :title => "Full screen view", :rel => "tooltip"}
              %a.btn.btn-primary{:href => "#{url_to_use}", :title => "Full screen view", :rel => "tooltip"}
                %i.icon-resize-full.icon-white
            -else 
              -url_to_use = generate_list_view_url(@tags,@tlid, @fromdate, @todate, true, @pgevts )
              /%a.btn.btn-primary{:href => "/events/q/v2?fullscr=true&view=list&tags=#{@tags}&tlid=#{@tlid}", :title => "Full screen view", :rel => "tooltip"}
              %a.btn.btn-primary{:href => "#{url_to_use}", :title => "Full screen view", :rel => "tooltip"}
                %i.icon-resize-full.icon-white
          
          %ul.nav.nav-tabs.no-bottom-margin
            /
            / We need following types of urls:
            / for tl-view: "/events/q/v2?view=tl&tags=#{@tags}&tlid=#{@tlid}"
            / for list-view: "/events/q/v2?view=list&tags=#{@tags}&tlid=#{@tlid}"
            /
            -if @viewstyle == "tl"
              %li.active
                -url_to_use = generate_timeline_view_url(@tags,@tlid, @fromdate, @todate, false, @pgevts )
                %a{:href => "#{url_to_use}"} 
                  %i.icon-time
                  Timeline View
              %li
                -url_to_use = generate_list_view_url(@tags,@tlid, @fromdate, @todate, false, @pgevts )
                %a{:href => "#{url_to_use}"}  
                  %i.icon-list-alt
                  List View
            -else
              %li
                -url_to_use = generate_timeline_view_url(@tags,@tlid, @fromdate, @todate, false, @pgevts )
                %a{:href => "#{url_to_use}"} 
                  %i.icon-time
                  Timeline View
              %li.active
                -url_to_use = generate_list_view_url(@tags,@tlid, @fromdate, @todate, false, @pgevts )
                %a{:href => "#{url_to_use}"}
                  %i.icon-list-alt 
                  List View
        -if @viewstyle == "list"
          = render 'elistview'

      -if @events_size > 0
        -if @viewstyle == "tl"
          %div#timeline-embed
  
 
%script{:type => "text/javascript"}
  :plain
    var timeline_config = {
    width:  "100%",
    height: "468",
    source: "#{@json_resource_path}",
    css: '/assets/timeline.css',
    js: '/js/timeline-min-2.js'
    }

%script{:type => "text/javascript",
	:src => "/js/timeline-embed.js"}
