%div.page-header
  %h1 Activity Log

= paginate(@activity_logs)

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th When
      %th Who
      %th Controller
      %th Action
      %th Extra
      %th IP
  %tbody
    - @activity_logs.each do |al|
      %tr
        %td= al.id
        %td= al.created_at
        %td= al.user
        %td= al.controller
        %td= al.action
        %td= al.extra
        %td= al.ip

= page_entries_info(@activity_logs).html_safe
