%h3 Example Timelines
%br
%div.span12
  %div.span5
    %div.well
      %h4 History
      %ul
        %li
          -url_to_use = generate_timeline_view_url("Ashoka+@chetanv_ashoka",@tlid, @fromdate, @todate, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info Ashoka
        %li
          -url_to_use = generate_timeline_view_url("Buddha+@chetanv_buddha",@tlid, @fromdate, @todate, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info Buddha
        %li
          -url_to_use = generate_timeline_view_url("Satvahana+@chetanv_satvahana",@tlid, @fromdate, @todate, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info Satvahana
    %div.well
      %h4 Science
      %ul
        %li
          -url_to_use = generate_timeline_view_url("India+Medicine+@chetanv_india_medicine",@tlid, @fromdate, @todate, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info India, Medicine
        %li
          -url_to_use = generate_timeline_view_url("DNA+@chetanv_dna",@tlid, @fromdate, @todate, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info DNA
        %li
          -url_to_use = generate_timeline_view_url("Greece+Astronomer+@chetanv_greece_astronomer",@tlid, @fromdate, @todate, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info Greece, Astronomer
    
  %div.span5
    %div.well
      %h4 Cinema
      %ul
        %li
          -url_to_use = generate_timeline_view_url("@amolyp_bigb",@tlid, @fromdate, @todate, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info Amitabh Bachchan
        %li
          -url_to_use = generate_timeline_view_url("Govinda+Karishma+Kapur",@tlid, @fromdate, @todate, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info Govinda, Karishma Kapur
        %li
          -url_to_use = generate_timeline_view_url("@chetanv_anurag_kashyap",@tlid, @fromdate, @todate, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info Anurag Kashyap
    %div.well
      %h4 Technology
      %ul
        %li
          -url_to_use = generate_timeline_view_url("Yahoo+Google",@tlid, @fromdate, @todate, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info Yahoo, Google
        %li
          -url_to_use = generate_timeline_view_url("Android+phone",@tlid, @fromdate, @todate, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info Android phone
        %li
          -url_to_use = generate_timeline_view_url("Ford+General+motors",@tlid, @fromdate, @todate, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info Ford, General Motors
