%h3 Examples
%br
%div.span12
  %div.span5
    %div.well
      %h4 History
      %ul
        %li
          -url_to_use = generate_timeline_view_url("Ashoka+@chetanv_ashoka",@tlid, nil, nil, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info Ashoka
        %li
          -url_to_use = generate_timeline_view_url("Shivaji+Aurangzeb+@chetanv_shivaji_aurangzeb",@tlid, nil, nil, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info Shivaji, Aurangzeb
        %li
          -url_to_use = generate_timeline_view_url("Satvahana+@chetanv_satvahana",@tlid, nil, nil, false,  "??")
          //%a{:href => "#{url_to_use}"}
          %span.label Satvahana
    %div.well
      %h4 Science
      %ul
        %li
          -url_to_use = generate_timeline_view_url("India+Astronomy+@chetanv_india_astronomy",@tlid, nil, nil, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info India, Astronomy
        %li
          -url_to_use = generate_timeline_view_url("DNA+@chetanv_dna",@tlid, nil, nil, false,  "??")
          //%a{:href => "#{url_to_use}"}
          %span.label DNA
        %li
          -url_to_use = generate_timeline_view_url("USA+Space+programme+@chetanv_usa_space",@tlid, nil, nil, false,  "??")
          //%a{:href => "#{url_to_use}"}
          %span.label USA, Space programme
    %div.well
      %h4 Music
      %ul
        %li
          -url_to_use = generate_timeline_view_url("@amolyp_pancham",@tlid, nil, nil, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info R D Burman
        %li
          -url_to_use = generate_timeline_view_url("Pink+Floyd+@chetanv_pink_floyd",@tlid, nil, nil, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info Pink Floyd
        %li
          -url_to_use = generate_timeline_view_url("Sonu+Nigam+@amolyp_sonu_nigam",@tlid, nil, nil, false,  "??")
          //%a{:href => "#{url_to_use}"}
          %span.label Sonu Nigam
    
  %div.span5
    %div.well
      %h4 Cinema
      %ul
        %li
          -url_to_use = generate_timeline_view_url("@amolyp_bigb",@tlid, nil, nil, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info Amitabh Bachchan
        %li
          -url_to_use = generate_timeline_view_url("Govinda+Karishma+Kapur+@chetanv_govinda_karishma",@tlid, nil, nil, false,  "??")
          //%a{:href => "#{url_to_use}"}
          %span.label Govinda, Karishma Kapur
        %li
          -url_to_use = generate_timeline_view_url("@chetanv_anurag_kashyap",@tlid, nil, nil, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info Anurag Kashyap
    %div.well
      %h4 Technology
      %ul
        %li
          -url_to_use = generate_timeline_view_url("Yahoo+Google+@chetanv_yahoo_google",@tlid, nil, nil, false,  "??")
          //%a{:href => "#{url_to_use}"}
          %span.label Yahoo, Google
        %li
          -url_to_use = generate_timeline_view_url("Android+phone+@chetanv_android",@tlid, nil, nil, false,  "??")
          //%a{:href => "#{url_to_use}"}
          %span.label Android phone
        %li
          -url_to_use = generate_timeline_view_url("Tata+motors+@chetanv_tata_motors",@tlid, nil, nil, false,  "??")
          //%a{:href => "#{url_to_use}"}
          %span.label Tata Motors
    %div.well
      %h4 Sports
      %ul
        %li
          -url_to_use = generate_timeline_view_url("India+Olympics+@chetanv_india_olympics",@tlid, nil, nil, false,  "??")
          //%a{:href => "#{url_to_use}"}
          %span.label India, Olympics
        %li
          -url_to_use = generate_timeline_view_url("@amolyp_sachin_tendulkar",@tlid, nil, nil, false,  "??")
          %a{:href => "#{url_to_use}"}
            %span.label.label-info Sachin Tendulkar
        %li
          -url_to_use = generate_timeline_view_url("Saina+Nehwal+@amolyp_saina_nehwal",@tlid, nil, nil, false,  "??")
          //%a{:href => "#{url_to_use}"}
          %span.label Saina Nehwal
