/
/ This block shows given timelines one after another, in a nicer block form.
/ It does not decide how many blocks in one row, etc. That has to be done by somebody outside.
/ In general maximum 4 blocks fit in one row with our selected sizes.
/
%ul.thumbnails
  - selected_timelines.each do |each_tl|
    - owner_name = User.find(each_tl.owner_id).name
    %li.span3
      %div.thumbnail
        %a.thumbnail.tlimageblock{:href => "#{timeline_path(each_tl)}"}
          -if each_tl.imgurl == ""
            %img{ :class => "tl_fixed_block_imgthumb thumnailgrid", :src => "/assets/default_tlimg.png"}
          -else
            %img{:class => "tl_fixed_block_imgthumb thumnailgrid", :src => "#{each_tl.imgurl}"}
          %div.caption
            %h4 #{truncate(each_tl.title, :length=> 25, :ommission => "...")}
            %p.packed
              %small #{truncate(each_tl.desc, :length=> 67, :ommission => "...")}
            %div.tl_block_bottom_row
              %p.packed.pull-left{:id => "ownername_display"}
                %small
                  %strong #{truncate(owner_name, :length => 20, :ommission => "...")}
              %p.packed.pull-right
                %small #{each_tl.created_at.strftime("%d %b, %Y")}
