
%div
  %h3 Timeline search results for "#{@tlquery}": 
  -if !@tlsearch_results_length.nil?  && @tlsearch_results_length == 0
    %br
    %strong.big Could not find any relevant timeline. Please feel free to create a new timeline by clicking 
    %a{:href => new_timeline_path}here
    %strong .
      
= paginate @search.hits  
    

%div
%br  
  - @tlsearch_results.each do |tl_entry|
    %div.row
      %div.span1
        %a{ :href => "#{timeline_path(tl_entry)}"}
          -if tl_entry.imgurl == ""
            %img.tl_searchresults_imgthumb{:src => "/assets/default_tlimg.png"}
          -else
            %img.tl_searchresults_imgthumb{:src => "#{tl_entry.imgurl}"}
      %div.span11
        %a{ :href => "#{timeline_path(tl_entry)}"}
          %strong #{truncate(tl_entry.title, :length=> 75, :ommission => "...")}
        %p
          #{truncate(tl_entry.desc, :length=> 135, :ommission => "...")}&nbsp;
  
= paginate @search.hits

