-set_page_title(@local_page_title)
-set_page_metadescription(@local_page_desc)

%div
  %h3 Timeline search results for "#{@tlquery}": 
  -if !@tlsearch_results_length.nil?  && @tlsearch_results_length == 0
    %br
    %strong.big Could not find any relevant timeline. Please feel free to create a new timeline by clicking 
    %a{:href => new_timeline_path}here
    %strong .
  -else
    Total #{@search.total} matching results
      
= paginate @search.hits  
    
%br
%ul.thumbnails
  %li
    - @tlsearch_results.each do |each_tl|
      - owner_name = User.find(each_tl.owner_id).name
      %div.thumbnail{:class => ("alert alert-error" if each_tl.visibility == VIS_PRIVATE)}
        %a.thumbnail.tlsearchblock{:href => "#{timeline_path(each_tl)}"}
          %div.span2
            -if each_tl.imgurl == ""
              %img{ :class => "tl_searchresults_imgthumb thumnailgrid", :src => "/assets/default_tlimg.png"}
            -else
              %img{:class => "tl_searchresults_imgthumb thumnailgrid", :src => "#{each_tl.imgurl}"}
          %div.span8
            %h3
              - if each_tl.visibility == VIS_PRIVATE
                %i.icon-eye-close{:title => "This timeline is private", :rel => "tooltip"}
                #{truncate(each_tl.title, :length=> 70, :ommission => "...")}
              - else
                #{truncate(each_tl.title, :length=> 75, :ommission => "...")}

            %br
            %p.search_result_tldesc
              #{truncate(each_tl.desc, :length=> 215, :ommission => "...")}
            %p.search_result_tlauthor
              #{owner_name}
                
                  
= paginate @search.hits

