/
/ This div is needed for FB like button
/
%div{:id => "fb-root"}
%script{:type => "text/javascript"}
  window.fbAsyncInit = function() {
  FB.init({
  status     : true, // check login status
  cookie     : true, // enable cookies to allow the server to access the session
  xfbml      : true  // parse XFBML
  });

  // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
  var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement('script'); js.id = id; js.async = true;
  js.src = "http://connect.facebook.net/en_US/all.js";
  ref.parentNode.insertBefore(js, ref);
  }(document));     
/
/ -----------------------------------------------------------------------------


%div
  %h3.float
    %strong #{truncate(@tlentry.title, :length=> 75, :ommission => "...")}
  %br
  %a{:id => "tlsummaryanchor", :href => "#", "data-toggle" => "collapse", "data-target" => "#tlsummary"}
    Details..
    -if @tlentry.imgurl == "" && @tlentry.desc == "" && @tlentry.tags == ""
      %i.icon-arrow-down
    -else
      %i.icon-arrow-up
  -if !current_user.nil? && ((current_user.isadmin) || (@tlentry.owner_id == current_user.id))
    %span.offset9
      %a{:href => edit_timeline_path(@tlentry), :style => "float: right;", :title => "Edit timeline", :rel => "tooltip"}
        %i.icon-edit
        Edit
      %i.icon-remove
      = link_to "Delete", timeline_path(@tlentry), :title => "Delete timeline", :rel => "tooltip", :method=> :delete, :confirm => 'Are you sure you want to delete this event?'


%br
%div.collapse.in{:id => "tlsummary"}
  %div.well.fixed_height_tlsummary  
    /
    / Display image
    /
    -if @tlentry.imgurl != ""
      %img{ :class => "tlpgimg", :src => "#{@tlentry.imgurl}", :alt => ""}
    -else
      %img{ :class => "tlpgimg", :src => "/assets/default_tlimg.png", :alt => ""}
    /
    / Display description
    /
    -if @tlentry.desc != ""
      %p.search_result_tldesc
        = truncate(@tlentry.desc, :length=> 200, :ommission => "...")
    /
    / Display owner name
    /
    -owner_name = User.find(@tlentry.owner_id).name
    %p.search_result_tlauthor
      #{owner_name}
    /
    / Display tags
    /            
    %strong.small Tags:
    -if @tlentry.tags != ""
      -@tlentry.tags.split(/,/).each do |each_tag|
        %a{:href => "#{tlnsearch_path}?tlquery=#{each_tag}"}
          %span.label.label-info #{each_tag} 

/
/FB-Like button/G-plus buttons
/      
-if !@events_size.nil? && @events_size > 0
  /
  %div{:style => "padding-bottom: 5px;"}
    %div{:class => "fb-like", "data-href" => "#{@complete_page_url}",  "data-send" => "false",  "data-width" => "450",  "data-show-faces" => "true"}
    %div{:class => "g-plusone", "data-href" => "#{@complete_page_url}", "data-annotation" => "inline", "data-width" => "300"}
  
  
= render 'timelines/timeline_core'

/Let's collapse this section by default if all ements in side it are not available.
-if @tlentry.imgurl == "" && @tlentry.desc == "" && @tlentry.tags == ""
  %script{:type => "text/javascript"}
    $(function ()  
    { 
    $("#tlsummary").collapse('hide');  
    }       
    );

/
/ Script for Google plus button
/    
%script{:type => "text/javascript"}
  $(function() 
  {
  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
  po.src = 'https://apis.google.com/js/plusone.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  }
  )();

    
        
    
      
  
               