/
/ This div is needed for FB like button
/
%div{:id => "fb-root"}
%script{:type => "text/javascript"}
  window.fbAsyncInit = function() {
  FB.init({
  status     : true, // check login status
  cookie     : true, // enable cookies to allow the server to access the session
  xfbml      : true  // parse XFBML
  });

  // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
  var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement('script'); js.id = id; js.async = true;
  js.src = "http://connect.facebook.net/en_US/all.js";
  ref.parentNode.insertBefore(js, ref);
  }(document));     

  // For Tweet button
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

/
/ -----------------------------------------------------------------------------


%div
  %span.hide{:itemprop => "name"} #{@timeline.title} | #{PRODUCT_DISPLAY_NAME} timelines
  %h3.float
    %strong #{truncate(@timeline.title, :length=> 75, :ommission => "...")}
  %br
  %div.row
    %div.span2.pull-left
      %a{:id => "tlsummaryanchor", :href => "#", "data-toggle" => "collapse", "data-target" => "#tlsummary"}
        -if @timeline.imgurl == "" && @timeline.desc == "" && @timeline.tags == ""
          %i.icon-chevron-down
        -else
          %i.icon-chevron-right
        Details...
    - if can? :manage, @timeline
      %div.span5.row.pull-right
        %div#vis_private.span2.alert.alert-error.no-margin-padding{:title => "This timeline is visible only to you. Remember to make it Public before sharing.", :rel => "tooltip"}
          = form_tag(change_visibility_timeline_path, :remote => true, :class => "form-inline pull-right", :style => "margin: 0px 0px 0px") do
            %i.icon-eye-close
            %span Private
            = hidden_field_tag "id", "#{@timeline.id}"
            = button_tag("Make Public", :type => "submit", :class => "btn btn-link small-link", :title => "Click to make this timeline public", :rel => "tooltip", :onclick => "$('#vis_private').addClass('hide'); $('#vis_spinner').removeClass('hide')")
            %span &nbsp;

        %div#vis_public.span2{:title => "This timeline is public", :rel => "tooltip"}
          = form_tag(change_visibility_timeline_path, :remote => true, :class => "form-inline pull-right", :style => "margin: 0px 0px 0px") do
            %i.icon-eye-open
            %span Public
            = hidden_field_tag "id", "#{@timeline.id}"
            = button_tag("Make Private", :type => "submit", :class => "btn btn-link small-link", :title => "Click to make this timeline private", :rel => "tooltip", :onclick => "$('#vis_public').addClass('hide'); $('#vis_spinner').removeClass('hide')")
            %span &nbsp;

        %div#vis_spinner.span2.hide
          = image_tag("spinner.gif", :size => "12x12", :class => "pull-right")

        %div.span1
          %a{:href => edit_timeline_path(@timeline), :title => "Edit timeline", :rel => "tooltip", :class => "pull-right"}
            %i.icon-edit
            Edit
        %div.span1
          %i.icon-remove
          = link_to "Delete", timeline_path(@timeline), :title => "Delete timeline", :rel => "tooltip", :method=> :delete, :confirm => 'Are you sure you want to delete this timeline?'

%div.collapse.in{:id => "tlsummary"}
  %div.well.fixed_height_tlsummary
    %div.span2.tlpg_img_div  
      /
      / Display image
      /
      -if @timeline.imgurl != ""
        %img{:class => "tlpgimg", :src => "#{@timeline.imgurl}", :alt => "", :itemprop => "image"}
      -else
        %img{:class => "tlpgimg", :src => "/assets/default_tlimg.png", :alt => "", :itemprop => "image"}
    %div.span9
      /
      / Display description
      /
      -if @timeline.desc != ""
        %p.search_result_tldesc{:itemprop => "description"}
          = truncate(@timeline.desc, :length=> 250, :ommission => "...")
      /
      / Display owner name
      /
      -owner_name = User.find(@timeline.owner_id).name
      %p.search_result_tlauthor
        #{owner_name}
      /
      / Display tags
      /            
      %strong.small Tags:
      -if @timeline.tags != ""
        -@timeline.tags.split(/,/).each do |each_tag|
          %a{:href => "#{tlnsearch_path}?tlquery=#{each_tag}"}
            %span.label.label-info #{each_tag} 

= render 'timelines/timeline_core'

/
/ Social items :-)
/      
-if !@events_size.nil? && @events_size > 0
  %br
  %br
  // FB-Like button/G-plus button/Twitter button
  %div.row{:style => "padding-bottom: 5px;"}
    %div.span5.fb-like{"data-href" => "#{@complete_page_url}",  "data-send" => "false",  "data-width" => "380",  "data-show-faces" => "false"}
    %div.span4
      %div.g-plusone{"data-href" => "#{@complete_page_url}", "data-annotation" => "inline", "data-width" => "300", "data-size" => "medium"}
    %div.span2
      %a.twitter-share-button{:href => "https://twitter.com/share", ":data-via" => "Pollen_Grain"}Tweet

  // Render facebook comment block
  %div{:class => "fb-comments", "data-href" => "#{@complete_page_url}", "data-num-posts" => "5", "data-width" => "770"}


/
/ ======================================================================================
/
/Let's collapse this section by default if all elements inside it are not available.
-if @timeline.imgurl == "" && @timeline.desc == "" && @timeline.tags == ""
  %script{:type => "text/javascript"}
    $(function ()  
    { 
    $("#tlsummary").collapse('hide');  
    }       
    );

// Hide the appropriate visibility div
- if @timeline.visibility == VIS_PRIVATE
  %script{:type => "text/javascript"}
    $(function() {
    $("#vis_public").addClass("hide");
    });
- else
  %script{:type => "text/javascript"}
    $(function() {
    $("#vis_private").addClass("hide");
    });


/
/ Script for Google plus button
/    
%script{:type => "text/javascript"}
  $(function() 
  {
  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
  po.src = 'https://apis.google.com/js/plusone.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  }
  )();

  
    
      
  
               