
%div
  %h3.float
    Timeline: 
    %strong #{truncate(@tlentry.title, :length=> 75, :ommission => "...")}
  /-if @tlentry.imgurl == "" && @tlentry.desc == "" && @tlentry.tags == ""
  %a{:id => "tlsummaryanchor", :href => "#", "data-toggle" => "collapse", "data-target" => "#tlsummary"}
    Details..
    -if @tlentry.imgurl == "" && @tlentry.desc == "" && @tlentry.tags == ""
      %i.icon-arrow-down
    -else
      %i.icon-arrow-up
%br
  
%div.row.collapse.in{:id => "tlsummary"}
  -if @tlentry.imgurl != ""
    %img{ :class => "tlpgimg", :src => "#{@tlentry.imgurl}", :alt => ""}
  -else
    %img{ :class => "tlpgimg", :src => "/assets/default_tlimg.png", :alt => ""}
  
  %h4 Description:
  -if @tlentry.desc == ""
    %p
      Not available.
  -else
    %p
      = truncate(@tlentry.desc, :length=> 200, :ommission => "...")
  %br
    %strong Tags:
    -if @tlentry.tags == ""
      %p
        Not available
    -else
      = @tlentry.tags 

%br
= render 'timelines/timeline_core'

/Let's collapse this section by default if all ements in side it are not available.
-if @tlentry.imgurl == "" && @tlentry.desc == "" && @tlentry.tags == ""
  %script{:type => "text/javascript"}
    $(function ()  
    { 
    $("#tlsummary").collapse('hide');  
    
    });     
      
  
               