%div.page-header
  %h1 Dashboard

%div.well
  %ul
    %li
      Timelines: #{@total_timelines}
    %li
      Users: #{@total_users}
    %li
      Events: #{@total_events}
    %li
      Event Tags: #{@total_tags}
  
%br  
%div
  %h3 Top Timeline creators
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Author Id
        %th Author name
        %th Author email
        %th Auth Provider 
        %th #timelines
        
    %tbody
      -if @total_timelines > 0 && !@timelines_authors_summary.nil?
        - @timelines_authors_summary.each do |each_author_summary|
          %tr
            %td
              = each_author_summary.his_id
            -if @authors_details[each_author_summary.his_id].nil?
              %td
              %td
              %td
            -else
              %td
                = @authors_details[each_author_summary.his_id].name
              %td
                = @authors_details[each_author_summary.his_id].email
              %td
                = @authors_details[each_author_summary.his_id].authprovider
            %td
              = each_author_summary.his_count
            