/
/ Popover example. 
/
/
%div{:id => "popover_content_wrapper", :style => "display: none"}
  %div.ellipsis
    %b Sachin: 100 hundreds
    %br
    %b By:
    Amol Potnis
    %br  
    %b Date:
    17/Dec/2017
    %p
      This timeline covers Sachin's magnificent innings where he scrored 100 or more runs. AAAAAAAAA BBBBBBBBBBBB
/---------------------------------------------------------------------------------------------------      

%div.container
  %br
  %br
  %br
  %br
  %div.well.border{:id => "hpsentence"}
    %p.lead.center
      View timelines, share with others.  Login to the site and create new timelines of your choice.
  
  %br  
  %div.row     
    %div.span1
      %img{:style => "float: left", :src => "/assets/black_thumbs_up.png", :height => "50px", :width => "50px", :border => "2"}
    %div.span11
      %img{:style => "float: left", :src => "#{@tlentry.imgurl}", :height => "80px", :width => "60px", :border => "2"}
      %h3 &nbsp; #{@tlentry.title}
      %p
        &nbsp; #{@tlentry.desc}
      
            
  = render 'timelines/timeline_core'     
  
  %br
  %br
  %div.row
    %div.span12
      %span.label.label-info Featured Timelines:
      %a{:href => "/examples/"}
        More...
      %ul.thumbnails
        %li.span4
          %div.thumbnail
            /%a.thumbnail.tlimageblock{ :href => "#", :id => "tl1", :rel => "popover", "data-title" => "Timeline details"}
            %a.thumbnail.tlimageblock{ :href => "#"}
              %img{ :style => "float:left", :class => "homepagethumb", :src => "#{@tlentry.imgurl}"}
              %h3 Experience &nbsp test
              %p Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %li.span4
          %div.thumbnail
            %a.thumbnail.tlimageblock{ :href => "#"}
              %img{ :style => "float:left", :class => "homepagethumb", :src => "#{@tlentry.imgurl}"}
              %h3 Experience &nbsp test
              %p Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %li.span4
          %div.thumbnail
            %a.thumbnail.tlimageblock{ :href => "#"}
              %img{ :style => "float:left", :class => "homepagethumb", :src => "#{@tlentry.imgurl}"}
              %h3 Experience &nbsp test
              %p Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      
      
          
  /
  /%div.paragraphs
  /  %div.row
  /    %div.span4
  /      %a{ :href => "#", :id => "tl1", :rel => "popover", "data-title" => "Timeline details"}
  /        %img{ :style => "float:left",  :src => "#{@tlentry.imgurl}"}
  /        %div.content-heading
  /          %h3 Experience &nbsp test
  /          %p{ :style => "clear:both"} Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  /    %div.span4
  /      %img{ :style => "float:left",  :src => "#{@tlentry.imgurl}"}
  /      %div.content-heading
  /        %h3 Experience &nbsp test
  /        %p{ :style => "clear:both"} Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.                    
  /
          
%script{:type => "text/javascript"}
  $(function ()  
  { 
  $("#tl1").popover({template: '<div class="popover"><div class="arrow"></div><div class="popover-inner homepage-class"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>', placement:"right",html : true, content: function() { return $('#popover_content_wrapper').html();}  });   
  });                                                           

