/
/ This is to display modal popup on demand. Used when clicked on 'edit' link in listview
/
%div.modal.hide#modal-signin
  %div.modal-header
    %button.close{:type => "button", "data-dismiss" => "modal"}×
    %h3 Login to Pollengrain
  %div.modal-body
    %div.span2.well
      %a.button{:href => "/auth/google"}
        %div
          = image_tag("google_64.png", :size => "64x64", :alt => "Google")
        %div
          %strong Login with Google
    %div.span2.well
      %a.button{:href => "/auth/facebook"}
        %div
          = image_tag("facebook_64.png",:size => "64x64", :alt => "Facebook")
        %div
          %strong Login with Facebook

/ ===========================================================================================

%header{:class => "navbar navbar-fixed-top"}
  %div{:class => 'navbar-inner'}
    %div{:class => 'container'}
      = link_to image_tag("pg-logo.png", alt: "Pollengrain", id: 'logo'), '/'
      %ul.nav.pull-left
        %li
          %a.btn-large{:href => "/about"}
            #{PRODUCT_TAG_LINE}
      %ul.nav.pull-right
        -if !signed_in?
          %li
            %a.btn-large{:id => "localsigninbtn", :href => "#modal-signin", "data-toggle" => "modal"}
              %i.icon-user.icon-white
              Login
        -else
          %li
            %a.btn-large{:href => "/events/new"}
              %i.icon-pencil.icon-white
              Add new event
          %li{:id => "fat-menu", :class => "dropdown"}
            %a{:href => "#", :class => "dropdown-toggle", "data-toggle" => "dropdown"}
              -if current_user.authprovider == "google"
                = image_tag("google_64.png",:size => "16x16", :alt => "")
              -else 
                -if current_user.authprovider == "facebook"
                  = image_tag("facebook_64.png",:size => "16x16", :alt => "")
                -else
                  %i.icon-user.icon-white
              = truncate(current_user.name, :length => 15)
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "Sign out", signout_path, method: "delete"
          
          
        
