/
/ This is to display modal popup on demand. Used when clicked on 'edit' link in listview
/
%div.modal.hide#modal-signin
  %div.modal-header
    %button.close{:type => "button", "data-dismiss" => "modal"}×
    %h3 Login to Pollengrain
  %div.modal-body
    -if @ext_signin_on_page.nil?
      -clear_stored_location()
    = render "sessions/ext_login_ui"
    

/ ===========================================================================================

%header{:class => "navbar navbar-fixed-top"}
  %div{:class => 'navbar-inner'}
    %div{:class => 'container'}
      - if Rails.env.production?
        = link_to image_tag("pg-logo.png", alt: "Pollengrain", id: 'logo'), '/'
      - else
        = link_to image_tag("pg-logo-dev.png", alt: "Pollengrain", id: 'logo'), '/'
      %ul.nav.pull-left
        %li
          %a.btn-large{:href => "/about"}
            #{PRODUCT_TAG_LINE}
      
      %ul.nav.pull-right
        %li
          = form_tag(tlnsearch_path, :class => "navbar-search pull-right", :action => "get") do
            -if @tlquery == ""
              = text_field_tag('tlquery', nil, :class => "search-query span4", :placeholder => "Search ready timelines")
            -else
              = text_field_tag('tlquery', nil, :class => "search-query span4", :placeholder => "Search ready timelines", :value => "#{@tlquery}")
        -if !signed_in?
          -if !@ext_signin_on_page.nil? && @ext_signin_on_page == true
          -else
            %li.divider.divider-vertical
            %li
              %a.btn-large{:id => "localsigninbtn", :href => "#modal-signin", "data-toggle" => "modal"}
                %i.icon-user.icon-white
                Login
        -else
          %li.divider.divider-vertical
          %li{:id => "fat-menu", :class => "dropdown"}
            %a{:href => "#", :class => "dropdown-toggle", "data-toggle" => "dropdown"}
              -if current_user.authprovider == "google"
                = image_tag("google_64.png",:size => "16x16", :alt => "")
              -else 
                -if current_user.authprovider == "facebook"
                  = image_tag("facebook_64.png",:size => "16x16", :alt => "")
                -else
                  %i.icon-user.icon-white
              = truncate(current_user.name, :length => 15)
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "My Content", my_path
              %li
                = link_to "Sign out", signout_path, method: "delete"
        
  /
  /
  /
  /%div.container
  %div.navbar-inner{ :id => "lowerinnerbar"}
    %div.well{:id => "lowermenubar"}
      %div.container
        %div.nav.pull-right{:id => "lowernavdiv"}
          %ul.nav.pull-right
            %li
              %a.btn-large{:href => root_path}
                %i.icon-home.icon-white
                Home    
            -if signed_in?
              - if current_user.isadmin
                %li{:class => "dropdown"}
                  %a{:href => "#", :class => "dropdown-toggle", "data-toggle" => "dropdown"}
                    %i.icon-eye-open.icon-white
                    Admin
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      = link_to "Activity Log", activity_log_index_path, method: "get"
                    %li
                      = link_to "Timeline Images", tl_images_path, method: "get"
              %li
                %a.btn-large{:href => new_timeline_path}
                  %i.icon-pencil.icon-white
                  New timeline
            %li
              %a.btn-large{:href => showcase_path}
                %i.icon-time.icon-white
                Showcase
            %li
              %a.btn-large{:href => faq_path}
                %i.icon-question-sign.icon-white
                FAQ   

        
