!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:description => "Timelines. Quick. Easy. Create and Share timelines.", :keywords => "pollengrain, timeline, time-line, events, history, chronological, search"}

    -if !@local_page_title.nil? && @local_page_title != "" 
      %title #{@local_page_title} | #{PRODUCT_DISPLAY_NAME} timelines
    -else
      %title #{PRODUCT_DISPLAY_NAME} timelines

    // Add some meta tags for Facebook Share (only on timeline show page)    
    - if not @tlentry.nil?
      %meta{:property => "og:title", :content => "#{@tlentry.title} | #{PRODUCT_DISPLAY_NAME} timelines"}
      %meta{:property => "og:type", :content => "timeline"}
      %meta{:property => "og:description", :content => "#{@tlentry.desc}"}

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:rel => "icon", :type => "image/ico", :href => "/assets/pg-favicon.png"}
    %style{}
      :plain
        html, body {
        height:100%;
        padding: 0px;
        margin: 0px;
        }
      
        #timeline-embed{
        margin:0px !important;
        border:0px solid #CCC !important;
        padding:0px !important;
        -webkit-border-radius:0px !important;
        -moz-border-radius:0px !important;
        border-radius:0px !important;
        -moz-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
        -webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
        box-shadow:0px 0px 0px rgba(0, 0, 0, 0.25) !important;
        }


  %body{:itemscope => true, :itemtype => "http://schema.org/CreativeWork"}
    - if flash[:notice]
      %div.alert.alert-success
        %i.icon-ok-sign
        = flash[:notice]
    - elsif flash[:warning]
      %div.alert.alert-error
        %i.icon-exclamation-sign
        = flash[:warning]
    - elsif flash[:error]
      %div.alert.alert-error
        %i.icon-exclamation-sign
        = flash[:error]

    -if @embeddedview == 'false' && @fullscr == 'false'
      = render 'layouts/header'
      
    = yield
    -if @embeddedview == 'false' && @fullscr == 'false'
      = render 'layouts/footer'
    
